<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img
      [src]="spaceship.image"
      alt="{{ spaceship.name }}"
      class="img-responsive spaceship-img"
      >
    </div>
    <div class="col-sm-8">
      <h2>Spaceship: {{ spaceship.name }}</h2>
      <ul>
        <li>Desciption: {{ spaceship.description }}</li>
        <li>Details: {{ spaceship.detailedDescription }}</li>
        <li>Engine: {{ spaceship.engine }}</li>
        <li>Color: {{ spaceship.color }}</li>
        <li>Wings: {{ spaceship.wings }}</li>
        <li>Price: {{ spaceship.price }}$ per day</li>
      </ul>
      <form>
        <label class="call-to-action">Add extra packages!</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="insurance">
          <label class="form-check-label" for="insurance">
              Insurance - 1 day (10$)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="touristCard">
          <label class="form-check-label" for="touristCard">
            Tourist discount card (each ticket 5$)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="nutritionalPackage">
          <label class="form-check-label" for="nutritionalPackage">
            Nutritional package - 3 meals/day (30$)
          </label>
        </div>
        <button type="submit" class="btn btn-info my-3" (click)="showSummary()">{{ btnName }}</button>
        <ng-container *ngIf="showBtn">
            <ul>
              <li>Date range: </li>
              <li>Spaceship: {{ spaceship.name }}</li>
              <li>Price per day: {{ spaceship.price }}$ per day</li>
              <li>Extra packages: </li>
              <li class="font-weight-bold">Total price: </li>
            </ul>
        </ng-container>
      </form>
    </div>
  </div>
</div>
