<div class="row">
  <div class="col-xs-12">
    <img
      [src]="spaceship.image"
      alt="{{ spaceship.name }}"
      class="img-responsive"
      style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ spaceship.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ spaceship.description }}
  </div>
  <div class="col-xs-12">
    {{ spaceship.detailedDescription }}
  </div>
  <div class="col-xs-12">
    {{ spaceship.engine }}
  </div>
  <div class="col-xs-12">
    {{ spaceship.color }}
  </div>
  <div class="col-xs-12">
    {{ spaceship.wings }}
  </div>
</div>