@import 'src/_variables.scss';

.brand-img {
  width: 80px;
  height: 50px;
}

.navbar {
  color: $text-color;
  background-color: $primary-color;
}

.page-heading {
  font-size: 2.25rem;
  color: $text-color
}