<div class="container">
  <div class="spaceship-container spaceship-container--one">
    <div class="spaceship spaceship--one"></div>
  </div>
<h2 class="text-center py-3">Rent your spaceship</h2>
<div class="container-fluid bg-image">
  <div class="row justify-content-center">
    <ngb-datepicker
      #dp
      (select)="onDateSelection($event)"
      [displayMonths]="2"
      [dayTemplate]="t"
      soutsideDays="hidden">
    </ngb-datepicker>
    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <form [formGroup]="spaceshipForm" (ngSubmit)="testSubmit($event)">
        <div class="form-row col-12 mb-3">
          <div class="col-12 col-sm-6">
            <label>Planet name*</label>
            <select class="custom-select mb-3" formControlName="pickupLocation">
              <option value="">Choose...</option>
              <option value="Earth">Earth</option>
              <option value="Venus">Venus</option>
              <option value="Jupiter">Jupiter</option>
              <option value="Mars">Mars</option>
              <option value="Pluto">Pluto</option>
              <option value="Neptune">Neptune</option>
              <option value="Saturn">Saturn</option>
              <option value="Mercury">Mercury</option>
              <option value="Uranus">Uranus</option>
            </select>
            <p class="alert-input-message pt-2" *ngIf="pickupLocation.touched && pickupLocation.hasError('required')"> {{ inputErrorMessage }}
            </p>
          </div>
          <div class="col-12 col-sm-6">
            <label>Planet name*</label>
            <select class="custom-select mb-3 " formControlName="dropoffLocation">
              <option value="">Choose...</option>
              <option value="Earth">Earth</option>
              <option value="Venus">Venus</option>
              <option value="Jupiter">Jupiter</option>
              <option value="Mars">Mars</option>
              <option value="Pluto">Pluto</option>
              <option value="Neptune">Neptune</option>
              <option value="Saturn">Saturn</option>
              <option value="Mercury">Mercury</option>
              <option value="Uranus">Uranus</option>
            </select>
            <p class="alert-input-message pt-2" *ngIf="dropoffLocation.touched && dropoffLocation.hasError('required')"> {{ inputErrorMessage }}
            </p>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-4">
            <label>Color</label>
            <select class="custom-select mb-3" formControlName="color">
              <option value="">Choose...</option>
              <option value="Red">Red</option>
              <option value="Blue">Blue</option>
              <option value="Black">Black</option>
            </select>
            <label>Size</label>
            <select class="custom-select mb-3" formControlName="size">
                <option value="">Choose...</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Big">Big</option>
            </select>
          </div>
          <div class="form-group col-md-4">
              <label>Wings type</label>
              <select class="custom-select mb-3" formControlName="wings">
                  <option value="">Choose...</option>
                  <option value="Eagle">Eagle</option>
                  <option value="Sparrow">Sparrow</option>
                  <option value="Pterodactyl">Pterodactyl</option>
              </select>
              <label>Engine</label>
              <select class="custom-select mb-3" formControlName="engine">
                  <option value="">Choose...</option>
                  <option value="Slow">Slow</option>
                  <option value="Fast">Fast</option>
                  <option value="Superfast">Superfast</option>
              </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" [disabled]="!spaceshipForm.valid">Search spaceship</button>
      </form>
    </div>
  </div>
</div>
</div>
