<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
         <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!--<div class="container">-->
  <!--<div style="background-color: cornflowerblue;" class="row">-->
    <!--<div class="col">-->
      <!--<label for="id">ID: </label>-->
      <!--<input id="id" type="text" (keyup)="addFilter('id', $event)">-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<label for="name">Name: </label>-->
      <!--<input id="name" type="text" (keyup)="addFilter('name', $event)">-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<label for="avail">Availability: </label>-->
      <!--<input id="avail" type="text" (keyup)="addFilter('availability', $event)">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
  <!--<table class="table">-->
    <!--<tr>-->
      <!--<th>ID</th>-->
      <!--<th>Name</th>-->
      <!--<th>Availability</th>-->
    <!--</tr>-->

    <!--<tr *ngFor="let obj of dataFiltered">-->
      <!--<td>{{obj.id}}</td>-->
      <!--<td>{{obj.name}}</td>-->
      <!--<td>{{obj.availability}}</td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</div>-->
