<div class="container spaceship-list-container">
  <div class="row my-5">
    <div class="col-lg-4">
      <img
      [src]="spaceship.imagePath"
      alt="{{ spaceship.name }}"
      class="img-responsive spaceship-img mt-5"
      >
    </div>
    <div class="col-sm-8 pt-3">
      <h2>Spaceship: {{ spaceship.name }}</h2>
      <ul>
        <li>Description: {{ spaceship.description }}</li>
        <li>Details: {{ spaceship.detailedDescription }}</li>
        <li>Route: from {{ spaceship.pickupLocation }} to {{ spaceship.dropoffLocation }}</li>
        <li>Engine: {{ spaceship.engine }}</li>
        <li>Color: {{ spaceship.color }}</li>
        <li>Wings: {{ spaceship.wings }}</li>
        <li>Price: {{ spaceship.price }}$ per day</li>
      </ul>
      <form>
        <p class="call-to-action">Add extra packages!</p>
        <div class="form-check ml-4" *ngFor="let package of extraPackages">
            <input class="form-check-input" id="{{package.name}}" type="checkbox" (change)="onExtraPackagesChange(package.name, $event.target.checked)">
            <label class="form-check-label" for="{{package.name}}">
                {{package.label}}
            </label>
        </div>
        <button type="submit" class="btn btn-info my-3" (click)="showSummary()">{{ btnName }}</button>
      </form>
    <ng-container *ngIf="showBtn">
        <ul>
          <li>Spaceship: {{ spaceship.name }}</li>
          <li>Route: from {{ spaceship.pickupLocation }} to {{ spaceship.dropoffLocation }}</li>
          <li>Price per day: {{ spaceship.price }}$ per day</li>
          <li *ngIf="packages.length > 0">Extra packages: {{packages.join(', ')}}</li>
          <li class="font-weight-bold">Total price: {{totalPrice}}$</li>
        </ul>
    </ng-container>
  </div>
</div>
