<div class="container">
  <div class="row filters-container my-4">
    <div class="col-3 p-2">
      <label for="id">Engine: </label>
      <input class="filter-input" id="id" [(ngModel)]="filters.engine" type="text" (keyup)="filterList()">
    </div>
    <div class="col-3 p-2">
      <label for="name">Color: </label>
      <input class="filter-input" id="name" [(ngModel)]="filters.color" type="text" (keyup)="filterList()">
    </div>
    <div class="col-3 p-2">
      <label for="avail">Wings: </label>
      <input class="filter-input" id="avail" [(ngModel)]="filters.wings" type="text" (keyup)="filterList()">
    </div>
    <div class="col-3 p-2 text-center reset-filters">
      <button class="btn" (click)="resetFilters()">X</button>
    </div>
  </div>
</div>
<div *ngIf="dataFiltered.length > 0; else noData" class="container">
  <div class="col-md-12">
    <h2 class="text-center pt-3">Your filtered spaceships</h2>
    <div class="row col-12 justify-content-center my-5">
      <app-spaceship-item
          *ngFor="let spaceshipEl of dataFiltered" 
          [index]="spaceshipEl.id"
          [spaceship]="spaceshipEl"
          class="p-3"
          style="cursor: pointer"></app-spaceship-item>
    </div>
  </div>
</div>
<ng-template #noData>
  <div class="col-md-12 text-center mt-5 border-bottom">
    <h2><i class="fas fa-exclamation-triangle text-warning pr-2"></i>Sorry, no spaceships were found. Please try other filters</h2>
    <a *ngIf="spaceships.length === 0 && spaceshipsParams.length === 0" routerLink="/spaceships-search" class="btn m-2"><i class="fas fa-arrow-left pr-2"></i>Back to search</a>
  </div>
</ng-template>