@import 'src/_variables.scss';

.filters-container {
  box-shadow: $box-shadow-container;
}

.filter-input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #272727;
  width: 100%;
  &:focus {
    outline: none;
    border: none;
    box-shadow: inset 0px -2px 0px 0px $primary-color;
  }
}

.btn-reset-filters {
  background-color: #ffffff;
  color: $primary-color;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 0.5rem;
  border: 1px solid $primary-color;
  transition: all 0.5s;
  &:hover {
    color: $text-color;
    background: $primary-color;
    cursor: pointer;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}