<div *ngIf="spaceships.length > 0; else noSpaceships" class="col-md-12">
  <h2 class="text-center pt-3">Your filtered spaceships</h2>
  <div class="row col-12 my-5">
    <app-spaceship-item
        *ngFor="let spaceshipEl of spaceships"
        [index]="spaceshipEl.id"
        [spaceship]="spaceshipEl"
        class="p-3"
        style="cursor: pointer"></app-spaceship-item>
  </div>
</div>
<ng-template #noSpaceships>
  <div class="col-md-12 text-center mt-5">
      <i class="fas fa-info-circle"></i>
    <h2>Sorry, no spaceships were found. Please try other filters</h2>
  </div>
</ng-template>


